.section-intro {
	padding-bottom: 0 !important;

	background-image: url(/assets/images/background-images/bg-intro.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.content-hiking {
	margin-top: 23rem;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 6rem;
	padding: 2.25rem;
	padding-right: 4rem;

	color: $white;
	text-align: start;

	background-color: rgba(0,0,0,.4);

	p {
		font-size: 1rem;
	}

	button {
		padding: .75rem 2rem;
		margin-top: 1rem;

		font-size: 1rem;

		background-color: #eed151;
		border: none;
	}
}

.col-md-6 {
	border-bottom: 3px solid;

	&:nth-child(2) {
		border-color: #ebd25e;
	}

	&:last-child {
		border-color: $brand-color;
	}
}